#content {

  #hero,
  #points-top,
  #feature-one,
  #feature-two,
  #feature-three,
  #one-liner,
  #pricing,
  #quotes,
  #points-bottom,
  #last-cta {
    width: 100%;
    padding: 0 15%;
    .row {
      padding: 60px 0;
    }
  }

  .highlight {
    background-color: $accent-pink;
    border-bottom: 1px solid $accent-pink-border;
  }

  .highlight:last-child {
    border-bottom: none;
  }

  #hero {
    background-color: $primary-pink;

    .jumbotron {
      margin-bottom: 15px;
      margin-top: 60px;
      padding-left: 0;
      padding-right: 0;
      background-color: inherit;
      text-align: center;
      color: white;

      h3 {
        width: 70%;
        margin: 0 auto;
      }

      .btn {
        margin-top: 20px;

        img {
          height: 16px;
          width: 16px;
          margin-right: 5px;
        }

        img:last-child {
          margin-right: 10px;
        }
      }
    }
  }


  #points-top, #points-bottom {
    .row {
      text-align: center;
      i {
        font-size: 44px;
        color: $secondary-green;
      }
      p {
        font-weight: bold;
      }
    }
  }

  #feature-one, #feature-two, #feature-three {
    .row {
      display: inline-flex;

      .col-lg-6 {

        i {
          margin-left: 10px;
        }

        a.btn.btn-default.browser-ext, .btn.btn-default.browser-ext:visited {
          padding: 12px;
        }

        a.btn.btn-default.browser-ext:hover, .btn.btn-default.browser-ext:active {
          background-color: $accent-pink-border;
          border: 2px solid $accent-pink-border;
          padding: 12px;
        }
      }

      .feature-content {
        margin: auto 0;
      }

    }
  }

  #one-liner {
    text-align: center;

    code {
      margin: 15px auto;
      padding: 15px;
      display: block;
      background-color: white;
      border: 2px solid $light-gray;
      width: 65%;
      text-align: center;
    }
    i {
      margin-left: 10px;
    }
  }

  #pricing {

    .open-source,
    .private-packs,
    .enterprise {
      border-radius: 5px;
      padding: 0;

      h5 {
        text-align: center;
      }

      .well, .well-lg {
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        text-align: center;
        display: inline-block; /* column fix */
        width: 100%; /* column fix */

        a.col-sm-4 {
          padding-top: 20px;
          padding-bottom: 20px;
          color:rgba(0,0,0,0.6);
        }

        a.col-sm-12 {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        p.price {
          margin-bottom: 0;
          margin-top: 5px;

          span {
            font-size: 20px;
            margin-right: 3px;
          }
        }

        i.ion-earth, i.ion-bag, i.ion-briefcase, i.ion-home, i.ion-lock-combination {
          font-size: 32px;
          color: black;
          opacity: 0.5;
        }

        i.ion-lock-combination {
          color: white;
        }

        button.btn-xs {
          border: none;
          color: white;
          font-weight: bold;

          i {
            margin-left: 5px;
            margin-right: 2px;
          }
        }
      }

      .row {
        padding: 10px 0;

        p {
          text-align: center;
          margin: 4px 0;
        }
      }
    }

    .open-source, .enterprise {
      width: 19%;
      display: inline-block;
      float: left;
    }

    .open-source {
      border: 2px solid $secondary-green;

      a.col-sm-12, a.col-sm-12:visited {
        background-color: $secondary-green;
        color:rgba(0,0,0,0.6);
      }

      a.col-sm-12:hover, a.col-sm-12:active {
        background-color: $secondary-hover-green;
        text-decoration: none;
      }

      button.btn-xs {
        background-color: $price-green-btn;
      }
    }

    .enterprise {
      border: 2px solid $primary-pink;

      a.col-sm-12, a.col-sm-12:visited {
        background-color: $primary-pink;
        color:rgba(255,255,255,0.9);
      }

      a.col-sm-12:hover, a.col-sm-12:active {
        background-color: $primary-hover-pink;
        text-decoration: none;
      }

      button.btn-xs {
        background-color: $price-pink-btn;
      }
    }

    .private-packs {
      border: 2px solid $secondary-blue;
      width: 60%;
      display: inline-block;
      float: left;
      margin: 0 1%;

      .well, .well-lg {
        padding: 0;

        a.col-sm-4, a.col-sm-4:visited {
          background-color: $secondary-blue;
        }

        a.col-sm-4:hover, a.col-sm-4:active {
          background-color: $secondary-hover-blue;
          text-decoration: none;
        }

        button.btn-xs {
          background-color: $price-blue-btn;
        }
      }
    }
  }

  #quotes {

    .col-lg-6 {
      text-align: center;
      color: $darker-gray;

      p.quote-graph {
        font-size: 20px;
        margin-bottom: 20px;
      }

      img {
        margin-bottom: 10px;
      }

      p.quote-name {
        font-weight: 700;
      }
    }
  }

  #last-cta {
    background-color: $primary-pink;

    .row {
      vertical-align: middle;
      color: white;

      .btn {

        img {
          height: 16px;
          width: 16px;
          margin-right: 5px;
        }
        img:last-child {
          margin-right: 10px;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  padding: 0 15%;

  .row {
    text-align: center;
    margin: 0;
    padding: 40px 0;

    ul.footer-nav {
      li a, li a:visited {
        color: $darker-gray;
      }

      li a:hover, li a:active {
        text-decoration: none;
        color: $dark-gray;
      }
    }

    ul.social {

      li a, li a:visited {
        font-size: 20px;
        color: $darker-gray;
      }

      li a:hover, li a:active {
        color: $dark-gray;
      }
    }
  }
}


@media (max-width: 1080px) {
  #content {
    #pricing {

      .open-source, .enterprise {
        width: 100%;
        display: block;
        float: none;
      }

      .private-packs {
        width: 100%;
        display: block;
        float: none;
        margin: 20px 0;
      }
    }

    #quotes {

      .col-lg-6:first-child {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  #content {

    #hero,
    #points-top,
    #feature-one,
    #feature-two,
    #feature-three,
    #one-liner,
    #pricing,
    #quotes,
    #points-bottom,
    #last-cta {
      padding: 0 20px;
    }

    #points-top, #points-bottom {
      .row {
        .col-sm-4 {
          margin-bottom: 20px;
        }
      }
    }

    #feature-one, #feature-two, #feature-three {

      .row {
        display: block;

        .col-lg-6 {
          float: none;

          .btn.btn-default {
            width: 100%;
          }
        }

        .feature-content {
          margin: 0;
        }

      }
    }

    #pricing {

      .open-source, .enterprise {
        a.col-sm-12 {
          float: left;
          width: 100%;
        }
      }

      .private-packs {
        a.col-sm-4 {
          float: left;
          width: 100%;
        }
      }
    }

    #quotes {
      .col-lg-6:first-child {
        border-bottom: 1px solid $accent-pink-border;
        padding: 30px;
      }
    }

    #last-cta {
      text-align: center;
    }
  }
}
