#content {

  #hero,
  #points-top,
  #feature-one,
  #feature-two,
  #feature-three,
  #one-liner,
  #pricing,
  #quotes,
  #points-bottom,
  #last-cta {
    width: 100%;
    padding: 0 15%;
    .row {
      padding: 60px 0;
    }
  }

  .highlight {
    background-color: $accent-pink;
    border-bottom: 1px solid $accent-pink-border;
  }

  .highlight:last-child {
    border-bottom: none;
  }

  #hero {
    background-color: $primary-pink;

    .jumbotron {
      margin-bottom: 15px;
      margin-top: 60px;
      padding-left: 0;
      padding-right: 0;
      background-color: inherit;
      text-align: center;
      color: white;

      .btn {
        margin-top: 20px;
      }
    }
  }

  #points-top, #points-bottom {
    .row {
      text-align: center;
      i {
        font-size: 36px;
      }
      p {
        font-weight: bold;
      }
    }
  }

  #feature-one, #feature-two, #feature-three {
    .col-lg-6 {

      .feature-content {
        margin-top: 65px;
      }
      i {
        margin-left: 10px;
      }
      a.btn.btn-default.browser-ext, .btn.btn-default.browser-ext:visited {
        padding: 12px;
      }

      a.btn.btn-default.browser-ext:hover, .btn.btn-default.browser-ext:active {
        background-color: $accent-pink-border;
        border: 2px solid $accent-pink-border;
        padding: 12px;
      }
    }
  }

  #one-liner {
    text-align: center;

    code {
      margin: 15px auto;
      padding: 15px;
      display: block;
      background-color: white;
      border: 2px solid $light-gray;
      width: 65%;
      text-align: center;
    }
    i {
      margin-left: 10px;
    }
  }

  #pricing {

    .open-source,
    .private-packs,
    .enterprise {
      border-radius: 5px;
      padding: 0;

      h5 {
        text-align: center;
      }
      .well {
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 20px 0;
        box-shadow: none;
        text-align: center;
        display: inline-block; /* column fix */
        width: 100%; /* column fix */

        p {
          opacity: 0.8;
        }

        p.price {
          margin-bottom: 0;
          margin-top: 5px;

          span {
            font-size: 20px;
            margin-right: 3px;
          }
        }

        i.ion-bag, i.ion-briefcase, i.ion-lock-combination {
          font-size: 32px;
          color: black;
          opacity: 0.4;
        }

        i.ion-lock-combination {
          color: white;
        }

        button.btn-xs {
          border: none;
          color: white;
          font-weight: bold;

          i {
            margin-left: 5px;
            margin-right: 2px;
          }
        }
      }
      .row {
        padding: 10px 0;

        p {
          text-align: center;
          margin: 4px 0;
        }
      }
    }

    .open-source, .enterprise {
      width: 19%;
      display: inline-block;
      float: left;
    }

    .open-source {
      border: 2px solid $secondary-green;

      .well {
        background-color: $secondary-green;

        button.btn-xs {
          background-color: $price-green-btn;
        }
      }
    }

    .enterprise {
      border: 2px solid $primary-pink;

      .well {
        background-color: $primary-pink;
        color: white;

        button.btn-xs {
          background-color: $price-pink-btn;
        }
      }
    }

    .private-packs {
      border: 2px solid $secondary-blue;
      width: 60%;
      display: inline-block;
      float: left;
      margin: 0 1%;
      .well {
        background-color: $secondary-blue;

        button.btn-xs {
          background-color: $price-blue-btn;
        }
      }
      .row {
        margin-top: -5px;
      }
    }
  }

  #quotes {}

  #last-cta {
    background-color: $primary-pink;
    .row {
      vertical-align: middle;
    }
  }
}

#footer {}

.footer {
  width: 100%;
  padding: 0 15%;
  .row {
    text-align: center;
    margin: 0;
    padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  #content {
    #hero,
    #points-top,
    #feature-one,
    #feature-two,
    #feature-three,
    #one-liner,
    #pricing,
    #quotes,
    #points-bottom,
    #last-cta {
      padding: 0 20px;
        .row {
        padding: 20px 0;
      }
    }

    #points-top, #points-bottom {
      .row {
        .col-sm-4 {
          margin-bottom: 20px;
        }
      }
    }

    #pricing {

      .open-source, .enterprise {
        width: 100%;
        display: block;
        float: none;
      }

      .private-packs {
        width: 100%;
        display: block;
        float: none;
        margin: 20px 0;
      }
    }
  }
}
