@import "bootstrap";

html {}

$primary-pink: #ff2569;
$primary-green: #00f1D7;

$secondary-green: #00de9d;
$secondary-blue: #7eabf5;

$accent-pink: #fff6f9;
$accent-pink-border: #ffd3e1;
$accent-green-btn: #13796e;

$light-gray: #ccc;
$lighter-gray: #ddd;
$lightest-gray: #efefef;
$dark-gray: #999;
$darker-gray: #666;
$darkest-gray: #333;


/* Buttons ========== */

.btn-primary, .btn-primary:visited, {
  background-color: $primary-green;
  border: $primary-green;
  color: $accent-green-btn;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-primary:hover, .btn-primary:active {
  opacity: 0.9;
  background-color: $primary-green;
  border: $primary-green;
  color: $accent-green-btn;
  box-shadow: none;
}

/* ================== */



.full-width {
  padding-left: 0;
  padding-right: 0;
}



/* ================== End Variables / Universal ================= */

#main-nav {}

.navbar-default {
  border: none;
  background: white;

  .navbar-brand {
    height: auto;

    img {
      height: 34px;
      width: 134px;
      display: inline-block;
    }
  }

  .navbar-collapse {
    ul {
      margin-top: 7px;

      li {
        text-transform: uppercase;
        font-weight: bold;
      }
      li:last-child a {
        padding: 5px 10px;
        margin: 9px 0 0 0;
        font-weight: bold;
      }
    }
  }
}

#content {

  #hero,
  #points-top,
  #feature-one,
  #feature-two,
  #feature-three,
  #one-liner,
  #pricing,
  #quotes,
  #points-bottom,
  #last-cta {
    width: 100%;
    padding: 0 15%;
    .row {
      padding: 40px 0;
    }
  }

  .highlight {
    background-color: $accent-pink;
    border-bottom: 1px solid $accent-pink-border;
  }

	#hero {
    background-color: $primary-pink;

		.jumbotron {
			margin-bottom: 15px;
			margin-top: 60px;
      padding-left: 0;
      padding-right: 0;
      background-color: inherit;
      text-align: center;
      color: white;

      .btn {
        margin-top: 20px;
      }
		}
	}

	#points-top, #points-bottom {

  }

	#features {}

	#one-liner {
    text-align: center;
    code {
      margin: 15px auto;
      padding: 15px;
      display: block;
      background-color: white;
      border: 2px solid $light-gray;
      width: 65%;
      text-align: center;
    }

  }

	#pricing {

    .open-source,
    .private-packs,
    .enterprise {
      border-radius: 5px;
      padding: 0;

      h5 {
        text-align: center;
      }
      .well {
        background: $light-gray;
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 10px 0;
        box-shadow: none;
        text-align: center;

        /* column fix */
        display: inline-block;
        width:100%;
      }
      .row {
        padding: 10px 0;

        p {
          text-align: center;
          margin: 4px 0;
        }
      }
    }

    .open-source, .enterprise {
      width: 19%;
      display: inline-block;
      float: left;
    }

    .open-source {
      border: 2px solid $secondary-green;

      .well {
        background-color: $secondary-green;
      }
    }

    .enterprise {
      border: 2px solid $primary-pink;

      .well {
        background-color: $primary-pink;
      }
    }

    .private-packs {
      border: 2px solid $secondary-blue;
      width: 60%;
      display: inline-block;
      float: left;
      margin: 0 1%;
      .well {
        background-color: $secondary-blue;
      }
      .row {
        margin-top: -5px;
      }
    }
  }

	#quotes {}

	#last-cta {
    background-color: $primary-pink;
    .row {
      vertical-align: middle;
    }
  }
}

#footer {}

.footer {
  width: 100%;
  padding: 0 15%;
  .row {
    text-align: center;
    margin: 0;
    padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  #content {
    #hero,
    #points-top,
    #feature-one,
    #feature-two,
    #feature-three,
    #one-liner,
    #pricing,
    #quotes,
    #points-bottom,
    #last-cta {
      padding: 0 20px;
    }

  }
}
