@import "bootstrap";

html {}

/* Colors ========== */

$primary-pink: rgba(255,37,105,1);
$primary-hover-pink: rgba(255,37,105,0.8);

$secondary-green: rgba(0,222,157,1);
$secondary-hover-green: rgba(0,222,157,0.8);

$secondary-blue: rgba(126,171,245,1);
$secondary-hover-blue: rgba(126,171,245,0.8);

$light-gray: #ccc;
$lighter-gray: #ddd;
$lightest-gray: #efefef;
$dark-gray: #999;
$darker-gray: #666;
$darkest-gray: #333;

$price-green-btn: #19c693;
$price-blue-btn: #7299d9;
$price-pink-btn: #e71d5c;

$accent-pink: #fff6f9;
$accent-pink-border: #ffd3e1;
$accent-green-btn: #13796e;

/* Buttons ========== */


.btn-primary, .btn-primary:visited {
  background-color: $secondary-green;
  border: $secondary-green;
  color: $accent-green-btn;
  font-weight: bold;
}

.btn-primary:hover, .btn-primary:active {
  opacity: 0.9;
  background-color: $secondary-green !important;
  border: $secondary-green;
  color: $accent-green-btn !important;
  box-shadow: none;
}

a.btn.btn-default, .btn.btn-default:visited {
  color: $primary-pink;
  background-color: transparent;
  border: 2px solid $accent-pink-border;
  font-weight: bold;
}

a.btn.btn-default:hover, .btn.btn-default:active {
  color: white;
  background-color: $primary-pink;
  border: 2px solid $primary-pink;
}


/* Main wrapper spacing ========== */


.full-width {
  padding-left: 0;
  padding-right: 0;
}

/* Typography ========== */

html, body {
  font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h3, p {
  font-family: 'Glegoo', Times New Roman, Times, serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

/* Navigation ========== */


.navbar-default {
  border: none;
  -webkit-box-shadow: 2px 5px 20px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 5px 20px -12px rgba(0,0,0,0.5);
  box-shadow: 2px 5px 20px -12px rgba(0,0,0,0.5);

  .navbar-brand {
    height: auto;

    img {
      height: 34px;
      width: 134px;
      display: inline-block;
    }
  }

  .navbar-collapse {
    ul {
      margin-top: 7px;

      li a, li a:visited {
        text-transform: uppercase;
        font-weight: bold;
        color: $darker-gray;
      }

      li a:hover, li a:active {
        color: $dark-gray;
      }

      li:last-child a {
        padding: 5px 10px;
        margin: 9px 0 0 0;
        font-weight: bold;
      }

      li:last-child a.btn-default:hover {
        background-color: $primary-pink;
        color: white;
      }
    }
  }
}

@import "_home.scss";
