<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
	<div class="container-fluid">
	  	<div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      		<span class="sr-only">Toggle navigation</span>
	      		<i class="ion-navicon-round"></i>
	    	</button>
	    	<a class="navbar-brand" href="#">Codecov</a>
	  	</div>
	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">Link</a></li>
	      		<li><a href="#">Link</a></li>
	      		<li><a href="#">Link</a></li>
	      		<li><a href="#">Link</a></li>
	    	</ul>
	  	</div>
	</div>
</nav>


<div class="container-fluid" id="content">

	<div class="container" id="hero">
	    <div class="jumbotron">
	      	<h1>Continuous code coverage.</h1>
	      	<h3>Reduce technical debt with visualized test performance,<br />faster code reviews, and improved commit quality.</h3>
	      	<p>
	      		<a class="btn btn-default btn-lg" href="#" role="button">
	      			<i class="ion-social-github"></i> <i class="ion-social-github"></i> <i class="ion-social-github"></i> Learn more
	      		</a>
	      	</p>
	    </div>
	</div>

	<div class="container" id="points-top">
		<div class="row">
			<div class="col-sm-4">
					<i class="ion-thumbsup"></i>
					<p>
						Improve your code quality.
					</p>
			</div>
			<div class="col-sm-4">
				
					<i class="ion-stats-bars"></i>
					<p>
						Embedded metrics for insights.
					</p>
			</div>
			<div class="col-sm-4">
					<i class="ion-earth"></i>
					<p>
						Open source and free.
					</p>
			</div>
		</div>
	</div>

	<div class="container" id="features">

		<!-- pull request metrics -->
	   <div class="row">
	   	<div class="col-sm-6">

	   	</div>
	   	<div class="col-sm-6">

	   	</div>
	   </div>
	   
	   <!-- commit status -->
	   <div class="row">
	   	<div class="col-sm-6">

	   	</div>
	   	<div class="col-sm-6">

	   	</div>
	   </div>
	   
	   <!-- browser extension -->
	   <div class="row">
	   	<div class="col-sm-6">

	   	</div>
	   	<div class="col-sm-6">

	   	</div>
	   </div>
	</div>

</div>








