<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" alt="Codecov Logo" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#languages">Languages</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a class="btn btn-default" href="#" role="button">Sign In</a></li>
        </ul>
      </div>
  </div>
</nav>

<div id="content">

  <header class="container" id="hero">
    <div class="jumbotron">
      <h1>Continuous code coverage.</h1>
      <h3>Reduce technical debt with visualized test performance, faster code reviews, and improved commit quality.</h3>
      <p>
        <a class="btn btn-primary btn-lg btn-signup" href="#" role="button">
          <i class="fa fa-github"></i> <i class="fa fa-bitbucket"></i> <fa class="fa-gitlab"></fa>
          Sign up for free
        </a>
      </p>
    </div>
  </header>

  <div class="container" id="points-top">
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-code"></i>
        <p>
          Improve your code quality.
        </p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-line-chart"></i>
        <p>
          Embedded metrics for insights.
        </p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-globe"></i>
        <p>
          Free for open source.
        </p>
      </div>
    </div>
  </div>

  <!-- pull request metrics -->

  <div class="container highlight" id="feature-one">
    <div class="row">
      <div class="col-lg-6">
        <img src="/images/pullrequest.png" width="100%" height="auto" alt="Compare pull request metrics image" />
      </div>
      <div class="col-lg-6 feature-content">
        <h4>Compare pull request metrics via coverage diffs.</h4>
        <p>Detailed techniqual metrics providing insight into test coverage and overall health of pull requests. Our Coverage Diffs express covergae metrics to speed up code review.</p>
      </div>
    </div>
  </div>

  <!-- commit status -->

  <div class="container highlight" id="feature-two">
    <div class="row">
      <div class="col-lg-6 feature-content">
        <h4>2x Commit statuses to maintain quality standards.</h4>
        <p>Codecov will post Github Commit Statuses based on meeting coverage standards to promote healthy commits and pull requests. We calculate coverage for pull request changes and the entire project.</p>
      </div>
      <div class="col-lg-6">
        <img src="/images/commitstatus.png" width="100%" height="auto" alt="Commit statuses for min, patch, and incremental coverage image" />
      </div>
    </div>
  </div>

  <!-- browser extension -->

  <div class="container highlight" id="feature-three">
    <div class="row">
      <div class="col-lg-6">
        <img src="/images/extension.png" width="100%" height="auto" alt="browser extension image" />
      </div>
      <div class="col-lg-6 feature-content">
        <h4>Use the browser extension.</h4>
        <p>Overlay coverage reports and metrics directly in Github or Bitbucket for seamless integration.</p>
        <p>
          <sup>Now available on</sup>
          <i class="fa fa-chrome fa-2x"></i>
          <i class="fa fa-firefox fa-2x"></i>
          <i class="fa fa-opera fa-2x"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="container highlight" id="one-liner">
    <h4>All of Codecov in one line.</h4>
    <code>bash &lt;(curl -s https://codecov.io/bash)</code>
    <p>
      <a class="btn btn-default" href="#" role="button">
        View All Supported Languages <i class="fa fa-arrow-right"></i>
      </a>
      <a class="btn btn-default" href="#" role="button">
        See Example Repo <i class="fa fa-arrow-right"></i>
      </a>
    </p>
  </div>

  <div class="container" id="pricing">
    <div class="row">

      <!-- Open Source -->
      <div class="container open-source">
        <h5>Open Source</h5>
        <div class="well well-lg">
          <a class="col-sm-12" href="#">
            <i class="fa fa-globe fa-4x"></i>
            <p class="price"><span>Free</span></p>
            <p>Forever</p>
            <button type="button" class="btn btn-default btn-xs">Get Now <i class="fa fa-arrow-right"></i></button>
          </a>
        </div>
        <div class="row">
          <p>Unlimited Public Repos</p>
          <p>Unlimited Users</p>
          <p>Awesome Support</p>
        </div>
      </div>

      <!-- Private Repo Packs -->
      <div class="container private-packs">
        <h5>Private Repo Packs</h5>

        <div class="well well-lg">

          <a class="col-sm-4" href="#">
            <i class="fa fa-user fa-4x"></i>
            <p class="price"><span>$3</span>/mo</p>
            <p>1 Private Repo</p>
            <button type="button" class="btn btn-default btn-xs">Start 14-Day Trial <i class="fa fa-arrow-right"></i></button>
          </a>

          <a class="col-sm-4" href="#">
            <i class="fa fa-umbrella fa-4x"></i>
            <p class="price"><span>$10</span>/mo</p>
            <p>5 Private Repos</p>
            <button type="button" class="btn btn-default btn-xs">Start 14-Day Trial <i class="fa fa-arrow-right"></i></button>
          </a>

          <a class="col-sm-4" href="#">
            <i class="fa fa-home fa-4x"></i>
            <p class="price"><span>$45</span>/mo</p>
            <p>25 Private Repos</p>
            <button type="button" class="btn btn-default btn-xs">Start 14-Day Trial <i class="fa fa-arrow-right"></i></button>
          </a>

        </div>

        <div class="row">
          <p>Unlimited Public Repos and Unlimited Users</p>
          <p>Awesome Support</p>
          <p><small><a href="#">Larger plans are available.</a></small></p>
        </div>
      </div>

      <!-- Enterprise -->
      <div class="container enterprise">
        <h5>Privatly Hosted</h5>
        <div class="well well-lg">
          <a class="col-sm-12" href="#">
            <i class="fa fa-database fa-4x"></i>
            <p class="price"><span>Custom</span></p>
            <p>Based on your needs</p>
            <button type="button" class="btn btn-default btn-xs">Contact Sales <i class="fa fa-arrow-right"></i></button>
          </a>
        </div>
        <div class="row">
          <p>Behind Your Firewall</p>
          <p>Fully Featured</p>
          <p>Awesome Support</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container highlight" id="quotes">
    <div class="row">
      <div class="col-lg-6">
        <p class="quote-graph">
          “Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. In tincidunt auctor tincidunt.
          Vestibulum at mauris ut augue
          rutrum tempus.”
        </p>
        <img class="img-circle" src="http://i.imgur.com/lfqsFEL.jpg" height="50px" width="50px"/>
        <p class="quote-name">
          Betsy Dank, Dank Meme Industries
        </p>
      </div>
      <div class="col-lg-6">
        <p class="quote-graph">
          “Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. In tincidunt auctor tincidunt.
          Vestibulum at mauris ut augue
          rutrum tempus.”
        </p>
        <img class="img-circle" src="http://i.imgur.com/lfqsFEL.jpg" height="50px" width="50px"/>
        <p class="quote-name">
           Joe Pearson, Dope Tech Inc.
        </p>
      </div>
    </div>
  </div>

  <div class="container" id="points-bottom">
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-user-plus"></i>
        <p>
          Maintain team testing standards.
        </p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-wrench"></i>
        <p>
          Promote attention on testing.
        </p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-smile-o"></i>
        <p>
          Increase developer performance.
        </p>
      </div>
    </div>
  </div>

  <div class="container" id="last-cta">
    <div class="row">
      <div class="col-sm-7">
        <h4>Commit with confidence. Deploy fearlessly.</h4>
      </div>
      <div class="col-sm-5">
        <a class="btn btn-primary btn-lg btn-signup" href="#" role="button">
          <i class="fa fa-github"></i> <i class="fa fa-bitbucket"></i> <fa class="fa-gitlab"></fa>
          Sign up for free
        </a>
      </div>
    </div>
  </div>

</div>

<footer class="footer" id="footer">
  <div class="row">
    <p><strong>Codecov <i class="fa fa-copyright"></i> 2015</strong></p>
    <ul class="list-inline footer-nav">
      <li><a href="#">Sign Up</a></li>
      <li><a href="/#languages">Guides</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/tos">TOS</a></li>
      <li><a href="/api">API</a></li>
    </ul>
    <ul class="list-inline social" id="contact">
      <li><a href="mailto:hello@codecov.io"><i class="fa fa-paper-plane-o"></i></a></li>
      <li><a href="https://twitter.com/codecov"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/codecov"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</footer>
