<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
	<div class="container">
	  	<div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      		<span class="sr-only">Toggle navigation</span>
	      		<i class="ion-navicon-round"></i>
	    	</button>
	    	<a class="navbar-brand" href="#">
          <img src="/images/logo.png" alt="Codecov Logo" />
        </a>
	  	</div>
	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">Languages</a></li>
	      		<li><a href="#">Features</a></li>
	      		<li><a href="#">Pricing</a></li>
	      		<li><a class="btn btn-default" href="#" role="button">Sign In</a></li>
	    	</ul>
	  	</div>
	</div>
</nav>

<div id="content">

	<header class="container" id="hero">
	    <div class="jumbotron">
	      	<h1>Continuous code coverage.</h1>
	      	<h3>Reduce technical debt with visualized test performance, faster code reviews, and improved commit quality.</h3>
	      	<p>
	      		<a class="btn btn-primary btn-lg" href="#" role="button">
	      			<img src="/images/github.svg" alt="github logo"> <img src="/images/gitlab.svg" alt="gitlab logo"> <img src="/images/bitbucket.svg" alt="bitbucket logo">
              Sign up for free
	      		</a>
	      	</p>
	    </div>
	</header>

	<div class="container" id="points-top">
		<div class="row">
			<div class="col-sm-4">
					<i class="ion-code"></i>
					<p>
						Improve your code quality.
					</p>
			</div>
			<div class="col-sm-4">

					<i class="ion-stats-bars"></i>
					<p>
						Embedded metrics for insights.
					</p>
			</div>
			<div class="col-sm-4">
					<i class="ion-earth"></i>
					<p>
						Open source and free.
					</p>
			</div>
		</div>
	</div>

  <!-- pull request metrics -->

	<div class="container highlight" id="feature-one">
    <div class="row">
	   	<div class="col-lg-6">
        <img src="/images/pullrequest.png" width="100%" height="auto" alt="Compare pull request metrics image" />
	   	</div>
	   	<div class="col-lg-6 feature-content">
        <h4>Compare pull request metrics via coverage diffs.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada congue justo, sed feugiat ante molestie quis. Sed vitae tellus purus.</p>
        <a class="btn btn-default" href="#" role="button">
          See More Features <i class="ion-chevron-right"></i>
        </a>
	   	</div>
    </div>
  </div>

  <!-- commit status -->

  <div class="container highlight" id="feature-two">
    <div class="row">
	   	<div class="col-lg-6 feature-content">
        <h4>Commit statuses for Min, Patch, and Incremental Coverage.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada congue justo, sed feugiat ante molestie quis. Sed vitae tellus purus. </p>
        <a class="btn btn-default" href="#" role="button">
          See More Features <i class="ion-chevron-right"></i>
        </a>
	   	</div>
	   	<div class="col-lg-6">
        <img src="/images/commitstatus.png" width="100%" height="auto" alt="Commit statuses for min, patch, and incremental coverage image" />
	   	</div>
    </div>
  </div>

  <!-- browser extension -->

  <div class="container highlight" id="feature-three">
    <div class="row">
	   	<div class="col-lg-6">
        <img src="/images/extension.png" width="100%" height="auto" alt="browser extension image" />
	   	</div>
	   	<div class="col-lg-6 feature-content">
        <h4>Use the browser extension.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada congue justo, sed feugiat ante molestie quis. Sed vitae tellus purus. </p>
        <a class="btn btn-default browser-ext" href="#" role="button">
          <img src="/images/chrome.svg" height="26px" width="26px" alt="chrome browser extension" />
        </a>
        <a class="btn btn-default browser-ext" href="#" role="button">
          <img src="/images/firefox.svg" height="26px" width="26px" alt="chrome browser extension" />
        </a>
        <a class="btn btn-default browser-ext" href="#" role="button">
          <img src="/images/opera.svg" height="26px" width="26px" alt="chrome browser extension" />
        </a>
        <a class="btn btn-default browser-ext" href="#" role="button">
          <img src="/images/safari.svg" height="26px" width="26px" alt="chrome browser extension" />
        </a>
      </div>
    </div>
	</div>

  <div class="container highlight" id="one-liner">
    <div class="row">
      <h4>All of Codecov in one line.</h4>
      <code>bash curl -s https://codecov.io/bash</code>
      <p>
        <a class="btn btn-default" href="#" role="button">
          View All Supported Languages <i class="ion-chevron-right"></i>
        </a>
      </p>
      <p>
        <a class="btn btn-default" href="#" role="button">
          See Example Repo <i class="ion-chevron-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="container" id="pricing">
    <div class="row">

      <!-- Open Source -->
      <div class="container open-source">
        <h5>Open Source</h5>
        <div class="well well-lg">
          <a class="col-sm-12" href="#">
            <i class="ion-earth"></i>
            <p class="price"><span>Free</span></p>
            <p>Forever</p>
            <button type="button" class="btn btn-default btn-xs">Get Now <i class="ion-chevron-right"></i></button>
          </a>
        </div>
        <div class="row">
          <p>Unlimited Public Repos</p>
          <p>Unlimited Users</p>
          <p>Awesome Support</p>
        </div>
      </div>

      <!-- Private Repo Packs -->
      <div class="container private-packs">
        <h5>Private Repo Packs</h5>

        <div class="well well-lg">

          <a class="col-sm-4" href="#">
            <i class="ion-bag"></i>
            <p class="price"><span>$3</span>/mo</p>
            <p>1 Repo</p>
            <button type="button" class="btn btn-default btn-xs">Start 14-Day Trial <i class="ion-chevron-right"></i></button>
          </a>

          <a class="col-sm-4" href="#">
            <i class="ion-briefcase"></i>
            <p class="price"><span>$10</span>/mo</p>
            <p>5 Repos</p>
            <button type="button" class="btn btn-default btn-xs">Start 14-Day Trial <i class="ion-chevron-right"></i></button>
          </a>

          <a class="col-sm-4" href="#">
            <i class="ion-home"></i>
            <p class="price"><span>$45</span>/mo</p>
            <p>25 Repos</p>
            <button type="button" class="btn btn-default btn-xs">Start 14-Day Trial <i class="ion-chevron-right"></i></button>
          </a>

        </div>

        <div class="row">
          <p>Unlimited Public Repos</p>
          <p>Unlimited Users</p>
          <p>Awesome Support</p>
        </div>
      </div>

      <!-- Enterprise -->
      <div class="container enterprise">
        <h5>Enterprise</h5>
        <div class="well well-lg">
          <a class="col-sm-12" href="#">
            <i class="ion-lock-combination"></i>
            <p class="price"><span>$5</span>/mo</p>
            <p>Per Developer</p>
            <button type="button" class="btn btn-default btn-xs">Contact Sales <i class="ion-chevron-right"></i></button>
          </a>
        </div>
        <div class="row">
          <p>Behind Your Firewall</p>
          <p>Unlimited Public Repos</p>
          <p>Unlimited Private Repos</p>
          <p>Awesome Support</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container highlight" id="quotes">
    <div class="row">
      <div class="col-lg-6">
        <p class="quote-graph">
          “Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. In tincidunt auctor tincidunt.
          Vestibulum at mauris ut augue
          rutrum tempus.”
        </p>
        <img class="img-circle" src="http://i.imgur.com/lfqsFEL.jpg" height="50px" width="50px"/>
        <p class="quote-name">
          Betsy Dank, Dank Meme Industries
        </p>
      </div>
      <div class="col-lg-6">
        <p class="quote-graph">
          “Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. In tincidunt auctor tincidunt.
          Vestibulum at mauris ut augue
          rutrum tempus.”
        </p>
        <img class="img-circle" src="http://i.imgur.com/lfqsFEL.jpg" height="50px" width="50px"/>
        <p class="quote-name">
           Joe Pearson, Dope Tech Inc.
        </p>
      </div>
    </div>
  </div>

  <div class="container" id="points-bottom">
    <div class="row">
      <div class="col-sm-4">
          <i class="ion-person-stalker"></i>
          <p>
            Maintain team testing standards.
          </p>
      </div>
      <div class="col-sm-4">

          <i class="ion-settings"></i>
          <p>
            Promote attention on testing.
          </p>
      </div>
      <div class="col-sm-4">
          <i class="ion-happy-outline"></i>
          <p>
            Increase developer performance.
          </p>
      </div>
    </div>
  </div>

  <div class="container" id="last-cta">
    <div class="row">
      <div class="col-sm-7">
        <h4>Commit with confidence. Deploy fearlessly.</h4>
      </div>
      <div class="col-sm-5">
        <a class="btn btn-primary btn-lg" href="#" role="button">
          <img src="/images/github.svg" alt="github logo"> <img src="/images/gitlab.svg" alt="gitlab logo"> <img src="/images/bitbucket.svg" alt="bitbucket logo">
          Sign up for free
        </a>
      </div>
    </div>
  </div>

</div>

<footer class="footer" id="footer">
  <div class="row">
    <p>Codecov &copy; 2015</p>
    <ul class="list-inline footer-nav">
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Integration Guides</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">TOS</a></li>
      <li><a href="#">API</a></li>
      <li><a href="#">Github</a></li>
    </ul>
    <ul class="list-inline social" id="contact">
      <li><a href="#"><i class="ion-paper-airplane"></i></a></li>
      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
      <li><a href="#"><i class="ion-social-github"></i></a></li>
    </ul>
  </div>
</footer>
