<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
	<div class="container-fluid">
	  	<div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      		<span class="sr-only">Toggle navigation</span>
	      		<i class="ion-navicon-round"></i>
	    	</button>
	    	<a class="navbar-brand" href="#">Codecov</a>
	  	</div>
	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">Link</a></li>
	      		<li><a href="#">Link</a></li>
	      		<li><a href="#">Link</a></li>
	      		<li><a href="#">Link</a></li>
	    	</ul>
	  	</div>
	</div>
</nav>

<div class="container-fluid full-width" id="content">

	<header class="container" id="hero">
	    <div class="jumbotron">
	      	<h1>Continuous code coverage.</h1>
	      	<h3>Reduce technical debt with visualized test performance,<br />faster code reviews, and improved commit quality.</h3>
	      	<p>
	      		<a class="btn btn-primary btn-lg" href="#" role="button">
	      			<i class="ion-social-github"></i> <i class="ion-social-github"></i> <i class="ion-social-github"></i> Learn more
	      		</a>
	      	</p>
	    </div>
	</header>

	<div class="container" id="points-top">
		<div class="row">
			<div class="col-sm-4">
					<i class="ion-thumbsup"></i>
					<p>
						Improve your code quality.
					</p>
			</div>
			<div class="col-sm-4">

					<i class="ion-stats-bars"></i>
					<p>
						Embedded metrics for insights.
					</p>
			</div>
			<div class="col-sm-4">
					<i class="ion-earth"></i>
					<p>
						Open source and free.
					</p>
			</div>
		</div>
	</div>

  <!-- pull request metrics -->

	<div class="container highlight" id="feature-one">
    <div class="row">
	   	<div class="col-lg-6" style="background-color: #fff;">

	   	</div>
	   	<div class="col-lg-6">
        <h4>Compare pull request metrics via coverage diffs.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur<br/>
        adipiscing elit. Proin malesuada congue justo, <br/>
        sed feugiat ante molestie quis. Sed vitae<br/>
        tellus purus. </p>
	   	</div>
    </div>
  </div>

  <!-- commit status -->

  <div class="container highlight" id="feature-two">
    <div class="row">
	   	<div class="col-lg-6">
        <h4>Commit statuses for Min, Patch,<br/>
        and Incremental Coverage.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur<br/>
        adipiscing elit. Proin malesuada congue justo, <br/>
        sed feugiat ante molestie quis. Sed vitae<br/>
        tellus purus. </p>
	   	</div>
	   	<div class="col-lg-6" style="background-color: #fff;">

	   	</div>
    </div>
  </div>

  <!-- browser extension -->

  <div class="container highlight" id="feature-three">
    <div class="row">
	   	<div class="col-lg-6" style="background-color: #fff;">

	   	</div>
	   	<div class="col-lg-6">
        <h4>Use the browser extension.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur<br/>
        adipiscing elit. Proin malesuada congue justo, <br/>
        sed feugiat ante molestie quis. Sed vitae<br/>
        tellus purus. </p>
	   	</div>
    </div>
	</div>

  <div class="container highlight" id="one-liner">
    <div class="row">
      <h4>All of Codecov in one line.</h4>
      <code>bash curl -s https://codecov.io/bash</code>
      <p>
        <a class="btn btn-default" href="#" role="button">
          View All Supported Languages <i class="ion-chevron-right"></i>
        </a>
      </p>
      <p>
        <a class="btn btn-default" href="#" role="button">
          See Example Repo <i class="ion-chevron-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="container" id="pricing">
    <div class="row">

      <div class="container open-source">
        <h5>Open Source</h5>
        <div class="well well-lg">
          <i class="ion-bag"></i>
          <p>Free</p>
          <p>Forever</p>
        </div>
        <div class="row">
          <p>Unlimited Public Repos</p>
          <p>Unlimited Users</p>
          <p>Awesome support</p>
        </div>
      </div>

      <div class="container private-packs">
        <h5>Private Repo Packs</h5>
        <div class="well well-lg">

        </div>
        <div class="row">
          <p>Unlimited Public Repos</p>
          <p>Unlimited Users</p>
          <p>Awesome support</p>
        </div>
      </div>

      <div class="container enterprise">
        <h5>Enterprise</h5>
        <div class="well well-lg">
          <i class="ion-lock-combination"></i>
          <p>$5/mo</p>
          <p>Per Developer</p>
        </div>
        <div class="row">
          <p>Behind Your Firewall</p>
          <p>Unlimited Public &<br/>Private Repos</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container" id="quotes">
    <div class="row">

    </div>
  </div>

  <div class="container" id="points-bottom">
    <div class="row">

    </div>
  </div>

  <div class="container" id="last-cta">
    <div class="row">

    </div>
  </div>

</div>








